
.copyright {
  Position: top;
bottom: 0;
}

h1 {
  color: rgba(0, 0, 0, 0.493);
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: teal;
}

p {
  color: rgb(0, 0, 0);
}

body {
  background-color: lightblue;
}

.top-bar {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: lightcyan;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}